<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="feedback-card">
    <mat-card-header>
      <mat-card-title>We value your feedback!</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Tell us what you think!" formControlName="feedback"></textarea>
            <mat-error *ngIf="addressForm.controls['feedback'].hasError('required')">
              Your honest feedback is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="First Name" formControlName="firstName">
            <mat-error *ngIf="addressForm.controls['firstName'].hasError('required')">
              First name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Last Name" formControlName="lastName">
            <mat-error *ngIf="addressForm.controls['lastName'].hasError('required')">
              Last name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="addressForm.controls['email'].hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-checkbox>I understand that I must give positive feedback
            <button mat-mini-fab
              matTooltip="... or else Microsoft will follow me everywhere I go forever and ever"
              matTooltipClass="or-else-tooltip">?</button>
          </mat-checkbox>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-checkbox>Contact me about open positions</mat-checkbox>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
