// says: apply this css to the present component's top-level DOM container
// (the one which has the component's name in its tag)
:host {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}

// says: apply this css to all 'a' elements that appear within :host or any of its children
:host::ng-deep {
  a {
    color: #262626;
    text-decoration: none;
  }
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}


.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 2;
  display: none;
}

@media(max-width: 700px) {
  .menu-btn {
    display: block;
  }

  .menu-btn:hover {
    opacity: 0.5;
  }
}
